* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #333;
}

/* Header */
header {
    background-color: #BD1111;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite ajustar los elementos en pantallas pequeñas */
}

header img {
    width: 80px; /* Ajusta el tamaño para pantallas pequeñas */
    height: auto; /* Mantiene proporción */
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Ajusta elementos en una nueva línea si es necesario */
    justify-content: center; /* Centra el menú en pantallas pequeñas */
    margin: 10px 0;
}

nav ul li {
    margin: 10px 15px; /* Reduce los márgenes en pantallas pequeñas */
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}

/* Hero Section */
.hero {
    background-color: #131313;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.hero h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
}

/* Features Section */
.features {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.features h3 {
    font-size: 24px;
    color: #BD1111;
    margin-bottom: 20px;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    background-color: #444;
    border: 2px solid #BD1111;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
}

/* Footer */
footer {
    padding: 15px;
    background-color: #BD1111;
    color: white;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column; /* Cambia el menú a una columna */
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 14px;
    }

    .features h3 {
        font-size: 20px;
    }

    .features li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    nav ul li {
        margin: 5px 0;
    }

    .hero {
        padding: 20px 10px;
    }

    .features {
        padding: 15px 10px;
    }

    .features li {
        padding: 10px;
    }
}
